.ios, .md {
    page-login {
            ion-item{
                ion-input{
                    background: transparent;
                }
                
            }
        }
}
// .view-content {
//   background-color:#85b818;
// }
// .img-div {

//     position: relative;
//     left: 110px;
//     top: 35px;
    

// }

// .item.item-input {
//     border: none;
//     position: relative;
    
//     left: 0px;
//     top: 135px;
//     background-color: transparent;
//     width:100%;
// }
// .item.item-input span{width:auto;}
// .item.item-input input{width:68%;}
// /*.item-input-inset .item-input-wrapper input {
//     padding-left: 4px;
//     height: 29px;
//     background: transparent;
//     line-height: 18px;
//     // you should add the following:
//     box-sizing: border-box; 
//     width: 100%;
// }*/
// input::-webkit-input-placeholder {
//  color: white;
// }



// label {

//     /*display: block; width: 100%;*/
//     width:200px;
//     float: left;
//     /*clear:left;*/
//     text-align:right;
//     /*padding-right:10px;*/
// }

// input{
//     /*float:left;*/

// }

// .enter-div {
//     text-align: center;
// }

// .enter-button {
//     position: relative;
//     top: 170px;
//     width: 280px;
//     height: 50px;
//     border-radius: 25px;
//     border: none;
//     background-color: green;
//     color: white;
// }